/* =============================
LOGIN PAGE - login.page.scss
============================= */
.login-content {

  --background: #f4fffd;

  position: relative;

}

.overlay {

  position: absolute;
  width: 100%;
  height: 100%;

  background:
    radial-gradient(circle at top left,
      rgba(20, 184, 166, 0.15),
      transparent 30%),

    radial-gradient(circle at bottom right,
      rgba(45, 212, 191, 0.15),
      transparent 30%);
}

.login-wrapper {

  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;

  min-height: 100vh;

}

/* ==========================================
   LEFT SIDE
========================================== */

.branding-section {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;

}

.branding-content {

  max-width: 500px;

}

.logo {

  width: 400px;
  height: 200px;
  margin-bottom: 20px;

}

.branding-content h1 {

  font-size: 48px;
  font-weight: 800;
  color: #0f766e;
  margin-bottom: 20px;

}

.branding-content p {

  font-size: 18px;
  line-height: 1.8;
  color: #4b5563;
  margin-bottom: 40px;

}

/* FEATURES */

.features {

  display: flex;
  flex-direction: column;
  gap: 20px;

}

.feature-item {

  display: flex;
  align-items: center;
  gap: 14px;

  background: white;

  padding: 18px;

  border-radius: 18px;

  box-shadow: 0 4px 15px rgba(0,0,0,0.05);

}

.feature-item ion-icon {

  font-size: 26px;
  color: #14b8a6;

}
.feature-item span {
  font-size: 16px;
  color: #4b5563;

}

/* ==========================================
   RIGHT SIDE
========================================== */

.form-section {

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;

}

.login-card {

  width: 100%;
  max-width: 480px;

  border-radius: 30px;

  padding: 30px;

  box-shadow:
    0 10px 40px rgba(15, 118, 110, 0.10);

  background: rgba(255,255,255,0.92);

  backdrop-filter: blur(10px);

}

.header {

  margin-bottom: 30px;
  text-align: center;

}

.header h2 {

  font-size: 34px;
  font-weight: 700;

  color: #0f766e;

}

.header p {

  color: #6b7280;

}

/* INPUT */

.custom-input {

  display: flex;
  align-items: center;
  gap: 12px;

  background: #f9fafb;

  border: 1px solid #d1fae5;

  border-radius: 16px;

  padding: 10px 16px;

  margin-bottom: 20px;

}

.custom-input ion-icon {

  font-size: 22px;
  color: #14b8a6;

}

/* OPTIONS */

.options {

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  margin-bottom: 24px;
  flex-wrap: wrap;
  gap: 12px;
}

//agrego un options items
.options ion-item {

  --background: transparent;
  //--border-color: transparent;
  //--inner-border-width: 0;
  //--padding-start: 0;

  font-size: 14px;
  color: #2b80f8;

}

.options ion-label {

  color: #2b80f8 !important;
  font-size: 14px;

}


.options ion-checkbox {
  --size: 20px;
  --checkbox-background: transparent;
  --border-color: #cbd5e1;
  --border-color-checked: #14b8a6;
  --background-checked: #14b8a6;
  --checkmark-color: white;
  margin-right: 8px;
}


.options a {

  color: #0f766e;
  text-decoration: none;
  font-weight: 600;

}

/* LOGIN BUTTON */

.login-button {

  --background: linear-gradient(
    135deg,
    #14b8a6,
    #0f766e
  );

  height: 56px;

  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 16px;

}

/* REGISTER */

.register-section {

  margin-top: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.register-button {

  background: transparent;
  border: none;

  color: #0f766e;

  font-weight: bold;

  cursor: pointer;

}

/* ==========================================
   RESPONSIVE
========================================== */

@media (max-width: 992px) {

  .login-wrapper {

    grid-template-columns: 1fr;

  }

  .branding-section {

    display: none;

  }

  .form-section {

    padding: 20px;

  }

  .login-card {

    max-width: 100%;

  }

}