// src/theme/utilities.scss
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-poppins-light {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.font-poppins-regular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.font-poppins-medium {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.font-poppins-semibold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
.font-poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.font-poppins-extrabold {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}