<div class="sidebar">

  <div class="navigation-group">
    <div class="logo-section">
      <img
        src="assets/icon/logo+clinica.png"
        alt="Dental"
      />
    </div>

    <div class="menu">
      <a routerLink="/client-dashboard/dash-view"
        routerLinkActive="active"
        class="menu-item">
        <ion-icon name="home-outline"></ion-icon>
        <span>Inicio</span>
      </a>
      <a
        routerLink="/client-dashboard/appointments"
        routerLinkActive="active"
        class="menu-item">
        <ion-icon name="calendar-outline"></ion-icon>
        <span>Mis citas</span>
      </a>

      <a
        routerLink="/client-dashboard/treatments"
        routerLinkActive="active"
        class="menu-item">
        <ion-icon name="medical-outline"></ion-icon>
        <span>Tratamientos</span>
      </a>

      <a
        routerLink="/client-dashboard/payments"
        routerLinkActive="active"
        class="menu-item">
        <ion-icon name="wallet-outline"></ion-icon>
        <span>Pagos</span>
      </a>

      <a
      routerLink="/client-dashboard/profile"
      routerLinkActive="active"
      class="menu-item">
        <ion-icon name="person-outline"></ion-icon>
        <span>Perfil</span>
      </a>

      <a
      routerLink="/client-dashboard/notifications"
      routerLinkActive="active"
      class="menu-item">
        <ion-icon name="notifications-outline"></ion-icon>
        <span>Notificaciones</span>
      </a>
    </div>
  </div>

  <div class="bottom-menu">
    <a
      routerLink="/client-dashboard/settings"
      routerLinkActive="active"
      class="menu-item">
        <ion-icon name="settings-outline"></ion-icon>
        <span>Configuración</span>
    </a>
    
    <div class="menu-item logout">
      <ion-icon name="log-out-outline"></ion-icon>
      <span
        (click)="sidebar()">
        Cerrar sesión
      </span>
    </div>
  </div>

</div>