<div class="page-wrapper">

  <header class="page-header">
    <div class="header-title-block">
      <h2>Notificaciones</h2>
      <p>Gestiona tus alertas y novedades del sistema</p>
    </div>
    <div class="notification-counter">
      <span>{{ notifications.length }}</span>
    </div>
  </header>

  <section class="filters-card">
    <ion-segment [(ngModel)]="segmentValue" mode="ios">
      <ion-segment-button value="all">
        <ion-label>Todas</ion-label>
      </ion-segment-button>

      <ion-segment-button value="unread">
        <ion-label>No leídas</ion-label>
      </ion-segment-button>

      <ion-segment-button value="saved">
        <ion-label>Guardadas</ion-label>
      </ion-segment-button>
    </ion-segment>
  </section>

  <main class="notifications-list">
    <div 
      class="notification-card" 
      *ngFor="let notification of filteredNotifications"
      [class.unread]="!notification.read">
      
      <div class="notification-left">
        <div class="icon-box">
          <ion-icon [name]="notification.icon"></ion-icon>
        </div>
      </div>

      <div class="notification-center">
        <div class="notification-top">
          <h3>{{ notification.title }}</h3>
          <span class="time-stamp">{{ notification.time }}</span>
        </div>
        <p class="notification-message">{{ notification.message }}</p>
      </div>

      <div class="notification-actions">
        <ion-button 
          *ngIf="!notification.read"
          fill="clear" 
          class="btn-action btn-read"
          [style.--color]="'#10b981'"
          (click)="markAsRead(notification)" 
          mode="md">
          <ion-icon [name]="'checkmark-done-outline'"></ion-icon>
        </ion-button>

        <ion-button 
          fill="clear" 
          class="btn-action "
          (click)="toggleSave(notification)" 
          [style.--color]="'#f59e0b'"
          mode="md">
          <ion-icon [name]="notification.saved ? 'bookmark' : 'bookmark-outline'"></ion-icon>
        </ion-button>

        <ion-button 
          fill="clear" 
          class="btn-action"
          (click)="deleteNotification(notification.id)" 
          [style.--color]="'#ef4444'"
          mode="md">
          <ion-icon [name]="'trash-outline'"></ion-icon>
        </ion-button>
      </div>

    </div>
  </main>

</div>