

<ion-split-pane
  when="lg"
  contentId="main-content"
  class="app-shell">

  <ion-menu
    side="start"
    contentId="main-content"
    menuId="mobile-menu"
    class="main-sidebar">
    <ion-content>

      <app-sidebar
        *ngIf="role === 'client'">
      </app-sidebar>

      <app-admin-sidebar
        *ngIf="role === 'admin'">
      </app-admin-sidebar>

    </ion-content>

  </ion-menu>


  <div
    class="shell-main ion-page"
    id="main-content">

    <ion-header class="mobile-header">
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button
            menu="mobile-menu">
          </ion-menu-button>
        </ion-buttons>
        <ion-title>
          Dental Premium
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <!-- AQUÍ VIVE TODO -->

    <main class="shell-router-content">
      <ng-content></ng-content>
    </main>
  </div>

</ion-split-pane>