.treatment-card {

  background: white;

  border-radius: 28px;

  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 22px;

  box-shadow:
    0 10px 30px rgba(15,118,110,0.08);

}

.treatment-header {

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.treatment-header h3 {

  font-size: 22px;
  font-weight: 700;

  color: #0f172a;

}

.treatment-header p {

  color: #64748b;

}

.status {

  background: #dcfce7;

  color: #15803d;

  padding: 8px 14px;

  border-radius: 14px;

  font-size: 13px;
  font-weight: 700;

}

.progress-section {

  display: flex;
  flex-direction: column;
  gap: 12px;

}

.progress-info {

  display: flex;
  justify-content: space-between;

  color: #475569;
  font-weight: 600;

}

ion-progress-bar {

  --progress-background: linear-gradient(
    135deg,
    #14b8a6,
    #0f766e
  );

  height: 12px;

  border-radius: 999px;

}

.session-box {

  display: flex;
  align-items: center;
  gap: 10px;

  background: #f0fdfa;

  padding: 14px;

  border-radius: 16px;

  color: #0f766e;

  font-weight: 600;

}

.session-box ion-icon {

  font-size: 20px;

}

.details-btn {

  --background: linear-gradient(
    135deg,
    #14b8a6,
    #0f766e
  );

  height: 52px;

  --border-radius: 16px;

}